@using EmployerModules.DAL;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="position: relative">
    <div id="loading">
        <img src="~/Content/please-wait-gif.gif" />
    </div>

    <aside class="side-nav" id="show-side-navigation1">
        <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
        <div class="heading">
            <img src="~/Content/images/pal-logo.PNG" alt="PAL Pension Logo" />
            <div class="info">
                <p><i class="fa fa-phone"></i> 01- 2776900, 0800 PALPENSIONS</p>
                <p><i class="fa fa-envelope-o"></i> info@palpensions.com</p>
            </div>
        </div>


        <ul class="categories">
            @if (Request.IsAuthenticated)
            {
                if (ViewContext.HttpContext.User.IsInRole("EmpAdmin") || ViewContext.HttpContext.User.IsInRole("Employer"))
                {
                    <li>
                        <i class="fa fa-dashboard "></i> <a href="@Url.Action("Index", "Employer")"> Dashboard</a>
                    </li>
                    if (ViewContext.HttpContext.User.IsInRole("EmpAdmin"))
                    {
                        <li>
                            <i class="fa fa-user "></i> <a href="#"> User</a>
                            <ul class="side-nav-dropdown">
                                <li><a href="@Url.Action("RegisterEmployer", "Account")">Add User</a></li>
                                <li><a href="@Url.Action("AllEmployerUsers", "Employer")">All User</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <i class="fa fa-group "></i> <a style="color: white" href="@Url.Action("Member", "Employer")"> Members</a>
                    </li>
                    <li>
                        <i class="fa fa-money "></i> <a href="@Url.Action("Transaction", "Employer")"> Transactions History</a>
                    </li>
                    <li>
                        <i class="fa fa-money "></i> <a href="@Url.Action("RecentTransaction", "Employer")"> Recent Schedule</a>
                    </li>
                    <li>
                        <i class="fa fa-clock-o "></i> <a href="@Url.Action("UploadSchedule", "Employer")"> Upload Schedule</a>
                    </li>
                    <li>
                        <i class="fa fa-check-square"></i><a href="@Url.Action("Verifypin", "Employer")"> Verify PINs</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o "> </i> <a href="@Url.Action("Feedback", "Employer")"> Feedback</a>
                    </li>
                    @*<li>
                            <i class="fa fa-support fa-fw"></i><a href="#"> Subscribe us</a>
                            <ul class="side-nav-dropdown">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">ipsum dolor</a></li>
                                <li><a href="#">dolor ipsum</a></li>
                                <li><a href="#">amet consectetur</a></li>
                                <li><a href="#">ipsum dolor sit</a></li>
                            </ul>
                        </li>*@
                }

                else
                {
                    <li>
                        <i class="fa fa-clock-o "></i> <a style="color: white" href="@Url.Action("Index", "admin")"> Schedule</a>
                    </li>
                    <li>
                        @{

                            PALSiteDBEntities db1 = new PALSiteDBEntities();
                            var userId1 = User.Identity.GetUserId();
                            var remarks1 = db1.Remarks.Where(r => r.IsAdminRemark == false && (r.Viewed == null || r.Viewed == false)).Count();

                        }
                        <i class="fa fa-envelope-o "></i> <a style="color: white" href="#"> Feedbacks</a>
                        <ul class="side-nav-dropdown">
                            <li>
                                <a href="@Url.Action("Feedbacks", "Admin")">All Feedbacks
                                @if(remarks1 > 0)
                                {
                                    <span class="label label-danger">@remarks1 new </span>
                                }
                                </a>
                            </li>
                            <li><a href="@Url.Action("PendingFeedbacks", "Admin")">Pending Feedbacks</a></li>
                            <li><a href="@Url.Action("InProgressFeedbacks", "Admin")">In Progress FeedBacks</a></li>
                            <li><a href="@Url.Action("CompletedFeedbacks", "Admin")">Completed feedbacks</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa fa-group "></i> <a style="color: white" href="@Url.Action("AddAdmin", "Admin")"> Add Admin</a>
                    </li>
                    <li>
                        <i class="fa fa-user "></i> <a style="color: white" href="@Url.Action("SearchEmployer", "admin")"> Add employer</a>
                    </li>
                }
            }
        </ul>
    </aside>

    <section id="contents" style="position:relative">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-left: 25px">
                    @*<a class="navbar-brand" href="#">my<span class="main-color">Dashboard</span></a>*@

                    <ul class="nav navbar-nav navbar-right visible-xs">
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>

                    </ul>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>

                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                                    <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
                                </ul>
                            </li>*@
 
                        <li>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                            <a class="notif-link" href="@Url.Action("Feedbacks", "Admin")">
                                <i class="fa fa-comments"></i>
                                <span id="admin_notification"> </span>
                            </a>
                            }
                            else
                            {
                            <a class="notif-link" href="@Url.Action("Feedback", "Employer")">
                                <i class="fa fa-comments"></i>
                                <span id="notification"> </span>
                            </a>
                            }
                        </li>

                        @*<li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>*@
                        <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div style="width:100%; padding: 20px; padding-top: 0">
            @RenderBody()
        </div>

         
        <footer class="footer-div ">
            <p style="text-align: center">
                &copy; @DateTime.Now.Year - PAL Pensions &nbsp;&nbsp;&nbsp;
                <a href="https://www.twitter.com/palpensions"><i class="fa fa-twitter top-icon"></i></a>
                <a href="https://www.facebook.com/palpensions"><i class="fa fa-facebook top-icon"></i></a>
                <a href="https://www.linkedin.com/company/3265910"><i class="fa fa-linkedin top-icon"></i></a>
                <a href="https://www.instagram.com/palpensions"><i class="fa fa-instagram top-icon"></i></a>
            </p>

        </footer>
        <br> <br>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            const check = checkNotification();
            const adminCheck = AdminNotifications();
            if (check === 0 || adminCheck === 0) {
                $("#notification").hide();
                $("#admin_notification").hide();
            }

            $("#notification, #admin_notification, .notif-link ").on("click", function () {
                checkNotification();
                AdminNotifications()
            })
 
            setInterval(function () {
                checkNotification();
                AdminNotifications()
            }, 20000);

            $("#alert").ready(function () {
                setTimeout(function () {
                    $(".alert").hide();
                }, 20000);
            })

            function checkNotification() {
                $.ajax({
                    url: '@Url.Action("Notification", "Employer")',
                    //url: '/Employer/PaymentConfirmed?paymentType="paystack"',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    success: function (res) {
                        console.log(res);
                        if (res > 0) {
                            $("#notification").show();
                            $("#notification").html(res);
                            console.log(res);
                        }
                        else {
                            $("#notification").hide();
                        }

                    },
                    error: function (err) {
                        //alert('Error occured while fetch notification');
                        console.log(err)
                    }
                });
            }


            function AdminNotifications() {
                $.ajax({
                    url: '@Url.Action("Notifications", "Admin")',
                    //url: '/Employer/PaymentConfirmed?paymentType="paystack"',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    success: function (res) {
                        console.log(res);
                        if (res > 0) {
                            $("#admin_notification").show();
                            $("#admin_notification").html(res);
                            console.log(res);
                        }
                        else {
                            $("#admin_notification").hide();
                        }

                    },
                    error: function (err) {
                        //alert('Error occured while fetch notification');
                        console.log(err)
                    }
                });
            }
        })

        $(function () {

            'use strict';

            (function () {

                var aside = $('.side-nav'),

                    showAsideBtn = $('.show-side-btn'),

                    contents = $('#contents');

                showAsideBtn.on("click", function () {

                    $("#" + $(this).data('show')).toggleClass('show-side-nav');

                    contents.toggleClass('margin');

                });

                if ($(window).width() <= 767) {

                    aside.addClass('show-side-nav');

                }
                $(window).on('resize', function () {

                    if ($(window).width() > 767) {
                        $(".footer-div").addClass("increase-width")
                        aside.removeClass('show-side-nav');

                    }

                });

                // dropdown menu in the side nav
                var slideNavDropdown = $('.side-nav-dropdown');

                $('.side-nav .categories li').on('click', function () {

                    $(this).toggleClass('opend').siblings().removeClass('opend');

                    if ($(this).hasClass('opend')) {

                        $(this).find('.side-nav-dropdown').slideToggle('fast');

                        $(this).siblings().find('.side-nav-dropdown').slideUp('fast');

                    } else {

                        $(this).find('.side-nav-dropdown').slideUp('fast');

                    }

                });

                $('.side-nav .close-aside').on('click', function () {

                    $('#' + $(this).data('close')).addClass('show-side-nav');

                    contents.removeClass('margin');

                });

            }());



        });
    </script>
</body>
</html>
