@model EmployerModules.DAL.EmployerDetail


@{
    ViewBag.Title = "Details";
}


<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Employer Dashboard</h2>
                    <p>@Model.EmployerName  <small>@Model.Recno</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>


                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            Total Employee
                        </dt>


                        <dd>
                            <a href="@Url.Action("Member", "Employer")" style="color: darkred">@ViewBag.Members</a> Members

                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="statistics" sty>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="box table-div">
                    <h3 class="text-center">Transaction History</h3>
                    <div class="info">
                        <dl class="dl-horizontal">
                            <dt>
                                Transaction Remmited
                            </dt>


                            <dd>
                                &#8358;@ViewBag.TransactionsTotal
                            </dd>

                            <dt>
                                Total Month
                            </dt>


                            <dd>
                                @ViewBag.MonthTotal
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box table-div">
                    <h3 class="text-center">Transaction Year to date</h3>
                    <div class="info">
                        <dl class="dl-horizontal">
                            <dt>
                                Transaction Remmited
                            </dt>


                            <dd>
                                &#8358;@ViewBag.ThisYearTransactionTotal

                            <dt>
                                Total Month
                            </dt>


                            <dd>
                                @ViewBag.ThisYearTransaction.Count

                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box table-div">
                    <h3 class="text-center">Recent Transaction</h3>
                    <div class="info">
                        <dl class="dl-horizontal">
                            <dt>
                                Transaction  Remmited
                            </dt>


                            <dd>
                                &#8358;@ViewBag.RecentTransaction.TotalAmount
                            </dd>

                            <dt>
                                Schedule Period
                            </dt>


                            <dd>
                                @String.Format("{0: MMMM yyyy}", ViewBag.RecentTransaction.SchedulePeriod)

                            </dd>
                            <dt>
                                Total Employee No
                            </dt>
                            <dd>
                                @ViewBag.RecentTransactionStaffNo

                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
