@model IEnumerable<EmployerModules.DAL.ScheduleHeader>

@{
    ViewBag.Title = "RecentTransaction";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>
                        Recently Paid Schedule
                        <a href="@Url.Action("UploadSchedule", "Employer")" class="btn hidden-xs btn-success pull-right">Upload New Schedule</a>
                        <a href="@Url.Action("MasterSchedulePayment", "Employer")" style="margin-right: 10px" class="hidden-xs btn btn-primary pull-right">Remit with MasterSchedule</a>
                    </h2>
                    <a href="@Url.Action("UploadSchedule", "Employer")" style="margin-bottom: 10px"  class="btn btn-success visible-xs">Upload New Schedule</a>
                    <a href="@Url.Action("MasterSchedulePayment", "Employer")" class="visible-xs btn btn-primary "> Pay with Master Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    <table class="table table-hover" id="table_id">
                        <thead>
                            <tr>
                                <th>
                                    Pension Fund Admininstrator
                                    @*@Html.DisplayNameFor(model => model.PFA)*@
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalEmployee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SchedulePeriod)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpiryDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UploadAdded)
                                </th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model)
        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PFA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                                <td>
                                    <a href="@Url.Action("PaidEmployeeList", "Employer", new { pfa = item.PFACode})">
                                        @Html.DisplayFor(modelItem => item.TotalEmployee)
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionId)
                                </td>
                                <td>
                                    <span class="label label-success">@Html.DisplayFor(modelItem => item.PaymentStatus)</span>
                                </td>
                                <td>
                                   @if (item.PaymentState == "pending")
                                   {
                                       <span class="label label-primary">@Html.DisplayFor(modelItem => item.PaymentState)</span>
                                   }
                                   else {
                                       <span class="label label-success">@Html.DisplayFor(modelItem => item.PaymentState)</span>
                                   }
                                </td>
                                <td>
                                    @String.Format("{0: MMMM yyyy}", item.SchedulePeriod)
                                </td>
                                <td>
                                    @String.Format("{0:MM/dd/yyyy}", item.ExpiryDate)
                                </td>
                                <td>
                                    @String.Format("{0:MM/dd/yyyy}", item.PaymentDate)
                                </td>
                                <td>
                                    @String.Format("{0:MM/dd/yyyy}", item.UploadAdded)
                                </td>
                                <td>
                                    @using (Html.BeginForm("Export", "Employer", new { pfa = item.PFACode }, FormMethod.Post))
                                    {
                                       <input type="hidden" value="@item.SchedulePeriod" id="period" name="period" />
                                       <button type="submit"class="text-success">DownloadSchedule<i class="fa fa-download" ></i></button>
                                      
                                    }
                                  

                                </td>
                                <td>
                                    <a href="@Url.Action("PrintInvoice", "Employer", new { scheduleId = item.Id })" class="text-success">
                                        Print Invoice
                                    </a>
                                </td>
                            </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "scrollX": true,
                "ordering": false
            });
        });
    </script>
}
