@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="position: relative">

    <div class="col-md-12" style="padding: 0">
        <div class="col-md-8 hidden-xs loginImage" style="position: relative">
            <div class="img-div1" style="display: block">
                @*<img src="~/Content/images/Group27.png" />*@
                <img src="~/Content/images/Group582.png" style="width: 40%" />
                <h4> <b>Welcome to PAL Pensions</b></h4>
                <p>Your Padi of life</p>
            </div>
            <div class="img-div2">
                <img src="~/Content/images/Group1.png" style="width: 80%" />
                <h4><b>Plan Your Finances</b></h4>
                <p>We use Simple tools to plan your tommorrow</p>
            </div>

            <div class="img-div3">
                <img src="~/Content/images/Group27.png" style="width: 80%" />
                <h4><b>Save For The Future</b></h4>
                <p>Save towards goals and learn financial growth along the way until retirement</p>
            </div>
            <div class="img-div4">
                <img src="~/Content/images/Group1.png" style="width: 80%" />
                <h4><b>Save For The Future</b></h4>
                <p>Save towards goals and learn financial growth along the way until retirement</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 login">
            <div style="background-color: white !important; padding: 25px; padding-top: 25%; height: 100%; ">
                <div class="title">
                    <img src="~/Content/images/PALLogo.png" style="width: 40%" />
                    <br />
                        <p>
                          
                        </p>
                </div>

               


                <div class="register" style="color: black">
                    <h3 class="text">  Thank you for confirming your email. </h3><br>
                    Please @Html.ActionLink("Click here to Log in", "Login", "Account")
                </div>
                
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-6 col-md-offset-3 login-div">
                <p class="col-md-12 login-header"><i class="fa fa-lock"></i> Please signin to continue</p>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group input ">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label signin-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-input", id = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group input ">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label signin-label" })
                        </div>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control login-input" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary signin">Sign in</button>
                }

                <p class="col-md-12 login-footer">
                    Forgot Password? Please Click
                    @Html.ActionLink("here", "ForgotPassword")
                </p>


            </div>

        </div>*@


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

</html>
