@model IEnumerable<EmployerModules.DAL.ScheduleHeader>
@using System;
@using System.Globalization;
@using EmployerModules.DAL;

@{
    ViewBag.Title = "Index";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Recently Paid Schedule</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    <table class="table table-hover" id="table_id">
                        <thead>
                            <tr>
                                <th>
                                    Pension Fund Admininstrator
                                    @*@Html.DisplayNameFor(model => model.PFA)*@
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployerId)
                                </th>
                                <th>
                                    Employee
                                    @*@Html.DisplayNameFor(model => model.TotalEmployee)*@
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionId)
                                </th>
                                <th>
                                    Status
                                    @*@Html.DisplayNameFor(model => model.PaymentStatus)*@
                                </th>
                                <th>
                                    State
                                    @*@Html.DisplayNameFor(model => model.PaymentState)*@
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SchedulePeriod)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.ExpiryDate)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UploadAdded)
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model)
                            {
                                PALSiteDBEntities db = new PALSiteDBEntities();

                                var payment = db.PaymentProves.Where(p => p.SchedulerHeaderId == item.Id).FirstOrDefault();
                                var employerCode = db.ScheduleHeaders.Find(item.Id).EmployerId;
                                var employerName = db.EmployerDetails.Where(e => e.Recno == employerCode).FirstOrDefault().EmployerName;

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PFA)
                                    </td>
                                    <td>
                                        &#8358;@Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployerId)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EmployeeList", "Admin", new { pfa = item.PFACode, employerCode = item.EmployerId})">
                                            @Html.DisplayFor(modelItem => item.TotalEmployee)
                                        </a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionId)
                                    </td>
                                    <td>
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.PaymentStatus)</span>
                                    </td>
                                    <td>
                                        @if (item.PaymentState == "pending")
                                        {
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => item.PaymentState)</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.PaymentState)</span>
                                        }
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.SchedulePeriod)*@
                                        @String.Format("{0: MMMM yyyy}", item.SchedulePeriod)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                                        </td>*@
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PaymentDate)*@
                                        @String.Format("{0:MM/dd/yyyy}", item.PaymentDate)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.UploadAdded)*@
                                        @String.Format("{0:MM/dd/yyyy}", item.UploadAdded)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Export", "Admin", new { employerCode = item.EmployerId })" class="text-success">
                                            <i class="fa fa-download"></i>
                                        </a>

                                    </td>
                                    <td>
                                        @if (item.PaymentState == "pending")
                                        {
                                            <a href="@Url.Action("ValidateSchedule", "Admin", new { Id = item.Id })" class="btn btn-success">Validate</a>
                                        }
                                    </td>

                                    <td>
                                         @if (item.PaymentState == "pending")
                                         {
                                             using (Html.BeginForm("DownloadFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                             {
                                                 var fileName = employerName + payment.FileExt;
                                                 <input type="hidden" id="filePath" name="filePath" value="@payment.FilePath" />
                                                 <input type="hidden" id="fileName" name="fileName" value="@fileName" />
                                                 <input type="submit" value="Download Prove" class="btn btn-primary"/>
                                             }
                                        
                                         }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "scrollX": true,
                "ordering": false
            });
        });
    </script>
}
